.upload-container {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.upload-box {
  background: #111827;
  padding: 25px;
  border-radius: 18px;
  border: 2px dashed #374151;
  text-align: center;
  transition: 0.3s ease;
}

.upload-box:hover {
  border-color: #3b82f6;
}

.upload-input,
.upload-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #374151;
  background: #1f2937;
  color: white;
  margin-top: 10px;
}

.upload-btn {
  padding: 14px;
  background: #2563eb;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.upload-btn:hover {
  background: #1e40af;
}
